game

# Compiled Object files
*.o
*.obj

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.dll
*.so
*.dylib
*.app

# Build directories
bin/
obj/
build/
cmake-build-*/

# Packages
*.package/

# Editor directories and files
.vscode/

# Operating system files
.DS_Store

# Project-specific
config/settings.json
